---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="wrap">
  <div class="empty-state">
    <h2>We couldn't find that page</h2>
    <p>The link may be old, or the product may have moved. Try searching the store.</p>
    <a class="btn btn-gold btn-lg" href="/shop/">Go to the shop</a>
  </div>
</div>
